// Usage
// <a class="Button -primary" role="button" href="#" role="button">Link</a>
// <button class="Button -primary" type="submit">Button</button>
// <input class="Button -primary" type="button" value="Input">
// <input class="Button -primary" type="submit" value="Submit">

// Settings
$Button: (
  backgroundColor: (
    default: #999,
    hover: lighten(#999, 10%)
  ),
  color: #fff,
  fontSize: 16px,
  padding: 24px 30px 22px,

  primary: (
    backgroundColor: (
      default: #3b83c0,
      hover: lighten(#3b83c0, 10%)
    )
  ),

  secondary: (
    backgroundColor: (
      default: #222,
      hover: lighten(#222, 10%)
    )
  ),

  burger: (
    color: #222,
    padding: (
      noLabel: 26px 32px 24px,
      burgerLeft: 20px 20px 18px 55px,
      burgerRight: 20px 55px 18px 20px
    )
  ),

  large: (
    fontSize: 18px,
    padding: 34px 58px 32px
  ),

  small: (
    fontSize: 12px,
    padding: 12px 18px 10px
  ),

  xsmall: (
    fontSize: 12px,
    padding: 8px 14px 6px
  )
);

// Definitions
.Button {
  background-color: setting('backgroundColor.default', $Button);
  background-image: none;
  border: 0;
  border-radius: 0;
  color: setting('color', $Button);
  cursor: pointer;
  display: inline-block;
  font-size: setting('fontSize', $Button);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: setting('padding', $Button);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  // States

  &:hover,
  &:active,
  &:focus {
    background-color: setting('backgroundColor.hover', $Button);
  }

  // &:active,
  // &:active:focus {
  //   box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  //   outline: none;
  //   text-decoration: none;
  //   transform: translate(2px, 2px);
  // }

  &:focus,
  &.is-active {
    + nav.global-nav__burger {
      display:block;
      transition: 400ms;
      opacity: 1;
      position: fixed;
    }
  }

  &:focus {
    outline: 1px dotted rgba(#000, .4);
    text-decoration: underline;
  }

  &[disabled],
  &.is-disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: .65;
    pointer-events: none;
  }

  // Types

  &.-primary {
    background-color: setting('primary.backgroundColor.default', $Button);

    &:hover,
    &:active,
    &:focus {
      background-color: setting('primary.backgroundColor.hover', $Button);
    }
  }

  &.-secondary {
    background-color: setting('secondary.backgroundColor.default', $Button);

    &:hover,
    &:active,
    &:focus {
      background-color: setting('secondary.backgroundColor.hover', $Button);
    }
  }

  &.-burger {
    background-color: rgba(0,0,0,.4);
    color: setting('burger.color', $Button);
    display: block;
    font-size: 12px;
    font-weight: 700;
    padding: setting('burger.padding.noLabel', $Button);
    position: fixed;
    right: 0;
    vertical-align: baseline;
    z-index: 3;

    @include breakpoint(setting('breakpoint.medium.min', $breakpoints)) {
      display: none;
    }

    &:focus {
      text-decoration: none;
    }

    &.-left {
      padding: setting('burger.padding.burgerLeft', $Button);
    }

    &.-right {
      padding: setting('burger.padding.burgerRight', $Button);
    }

    &.-light {
      color: #fff;
    }
  }

  // Styles

  &.-block {
    display: block;
    width: 100%;
  }

  // Sizes

  &.-large {
    font-size: setting('large.fontSize', $Button);
    padding: setting('large.padding', $Button);
  }

  &.-small {
    font-size: setting('small.fontSize', $Button);
    padding: setting('small.padding', $Button);
  }

  &.-xsmall {
    font-size: setting('xsmall.fontSize', $Button);
    padding: setting('xsmall.padding', $Button);
  }
}
