.global-nav {
  background-color: rgba(50, 49, 49, 0.9);
  bottom: 0;
  height: 80px;
  position: absolute;
  text-align: center;
  width: 100%;
  display: none;
  -webkit-transition: height .2s ease-out;
  -moz-transition: height .2s ease-out;
  -ms-transition: height .2s ease-out;
  -o-transition: height .2s ease-out;
  transition: height .2s ease-out;

  @include breakpoint(setting('breakpoint.medium.min', $breakpoints)) {
    display: block;
  }

  &.-stuck {
    height: 65px;
    position: fixed;
    top: 0;
    z-index: 2;
  }
}

.global-nav__list {
  font: 15.96px / 22.975px $franklinGothic;
  list-style: none;
}

.global-nav__list-item {
  margin: 9px;

  @include breakpoint(setting('breakpoint.medium.min', $breakpoints)) {
    display: inline;
    margin: 25px;
  }

  @include breakpoint(setting('breakpoint.large.min', $breakpoints)) {
    margin: 33px;
  }
}

.global-nav__anchor {
  border-bottom: 2px solid transparent;
  color: #ffffff;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: border-bottom .15s ease-in, line-height .2s ease-out;
  -moz-transition: border-bottom .15s ease-in, line-height .2s ease-out;
  -ms-transition: border-bottom .15s ease-in, line-height .2s ease-out;
  -o-transition: border-bottom .15s ease-in, line-height .2s ease-out;
  transition: border-bottom .15s ease-in, line-height .2s ease-out;

  @include breakpoint(setting('breakpoint.medium.min', $breakpoints)) {
    line-height: 80px;

    .global-nav.-stuck & {
      line-height: 65px;
    }
  }

  &:hover {
    border-bottom: 2px solid white;
  }
}

.global-nav__burger {
  background-color: rgba(50, 49, 49, 0.9);
  top: 0;
  right: 0;
  display: none;
  opacity: 0;
  height: 100%;
  padding-top: 60px;
  position: absolute;
  text-align: right;
  width: 100%;
  z-index: 2;

  @include breakpoint(setting('breakpoint.medium.min', $breakpoints)) {
    display: none;
  }
}

.active {
  border-bottom: 2px solid white;
}
