@import '../../dist/bower_components/normalize-css/normalize';
@import '../../dist/bower_components/bourbon/app/assets/stylesheets/bourbon';

// $visual-grid: true;
@import '../../dist/bower_components/neat/app/assets/stylesheets/neat';

// Palette
// Primary color
$primary0: rgba( 40, 40, 40,1);
$primary1: rgba( 90, 90, 90,1);
$primary2: rgba(229,229,229,1);
$primary3: rgba(255,255,255,1);

// Secondary color
$secondary0: rgba( 0,153,255,1);
$secondary1: rgba(233,242,249,1);
$secondary2: rgba(156,196,228,1);

.html {
  font-size: 62.5%;
}

.body {
  color: $primary3;
  font-family: "Lato", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "Liberation Sans", Helvetica, "Arial", sans-serif;
  font-size: 1.9rem;
  font-stretch:normal;
  font-weight: 300;
  line-height: 1.3;
  padding-top: 100vh;
  // position: relative;
}

.stickyNav {
  background: rgba( 40, 40, 40,.93);
  bottom: 80px;
  box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.4);
  display: table;
  height: 8.5rem;
  margin-bottom: -8rem;
  position: absolute;
  text-align: center;
  width: 100vw;
  z-index: 300;

  @include media(min-width 870px) {
    height: 8rem;
  }

  .stickyNav__anchor {
    color: $primary3;
    font-weight: bold;
    letter-spacing: -0.3px;
    line-height: 4rem;
    padding: 0 5.7vw 0 0;
    transition: color ease 500ms;

    @include media(min-width 500px max-width 768px) {
      line-height: 4rem;
      padding: 0 7.4vw 0 0;
    }

    @include media(min-width 769px) {
      line-height: 8rem;
      padding: 0 5.7vw 0 0;
    }

    &:hover {
      color: $secondary0;
      transition: color ease-in-out 500ms;
    }

    &.active {
      color: $secondary0;
      transition: color ease-in-out 500ms;
    }
  }

  .stickyNav__anchor:last-child {
    padding: 0;
  }
}

.stickyNavScrolled {
  position: fixed;
  top: 0;
  width: 100vw;
}

// slide layout
.slides {
  height: 100vh;
}

.slide {
  // min-height: 100vh;
  padding: 120px 40px 40px 80px;
  position: relative;
  z-index: 2;

  @include media(min-width 500px max-width 899px) {
    padding: 80px;
  }

  @include media(min-width 900px) {
    padding: 140px;
  }

  .h1 {
    font-weight: lighter;
  }
}

.hero {
  color: $primary3;
  height: 100vh;
  padding: 8rem 4rem 4rem;
  text-align: right;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;


  .h1,
  .h2,
  .h3 {
    margin: 4vw 4vw 0;
  }

  .h2 {
    line-height: 2rem;
    margin-top: 0;
  }
}

.footer {
  background: rgba( 40, 40, 40,.95);
  color: $primary3;
  padding: 8rem 0 0 0;
  text-align: center;

  .link {
    color: $primary3;
  }
}

.slide__content {
  margin: auto;
  max-width: 1200px;
}

.slide__text,
.slide__image {
  padding: 8%;
}

.slide__image svg {
  display: block;
  margin: auto;
  max-width: 560px;
  width: 100%;
}

.slide__bg {
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

// slide backgrounds
#hero .slide__bg {
  background:
      linear-gradient(rgba(105,155,255,0.3) 25%,
      rgba(155,105,255,0.3) 50%),
      url(/assets/img/hero.jpg) no-repeat 30%/cover;
}

#about .slide__bg {
  background-image: url(/assets/img/bg-view.jpg);
}

#procedures .slide__bg {
  // background-image: url(/assets/img/bg-wait.jpg);
  background: rgba( 40, 40, 40,.95);
}

#gallery .slide__bg {
  background-image: url(/assets/img/bg-hall.jpg);
}

#logo .slide__bg {
  background-image: url(/assets/img/logo/cumberland-logo-text-large-black.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}

#new-patient .slide__bg {
  // background-image: url(/assets/img/bg-sign.jpg);
  background: #666;
}

/* Large screen layout */
// @media screen and (min-width: 45em) {
//
//   .slide__image,
//   .slide__text {
//     padding: 3%;
//   }
//
//   .slide:nth-child(2n) .slide__text {
//     -webkit-order: 1;
//     order: 1;
//   }
//
//   /* parallax */
//   @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
//
//     .body {
//       overflow: hidden;
//       /* Fix Edge & Safari H/W acceleration paint issues */
//       transform: translateZ(0px);
//     }
//
//     .slides {
//       overflow-x: hidden;
//       overflow-y: auto;
//       perspective: 300px;
//       position: absolute;
//       width: 100%;
//     }
//
//     .slide,
//     .slide__content {
//       transform-style: preserve-3d;
//     }
//
//     .slide__text {
//       transform-origin: 100% 50%;
//       transform: translateZ(60px) scale(.8);
//     }
//
//     .slide:nth-child(2n) .slide__image {
//       transform-origin: 100% 50%;
//       transform: translateZ(100px) scale(.67);
//     }
//
//     .slide:nth-child(2n) .slide__text {
//       transform-origin: 0% 50%;
//     }
//
//     .slide:nth-child(2n) .slide__bg {
//       transform: translateZ(59px) scale(.85);
//     }
//
//     .slide:nth-child(2n+1):not(:first-child) .slide__bg {
//       top: -50%;
//     }
//
//     .slide:nth-child(2n+1):not(:last-child) .slide__bg {
//       bottom: -18.4%;
//     }
//
//     .slide:first-child {
//       padding-top: 14%;
//     }
//
//     .slide:last-child {
//       padding-bottom: 14%;
//     }
//
//     .slide:nth-child(2n) {
//       /* ensure slides overlay correctly */
//       z-index: 1;
//     }
//   }
// }

.h1 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.4);
  text-transform: uppercase;

  @include media(min-width 600px max-width 999px) {
    font-size: 3rem;
    letter-spacing: 0.3rem;
  }

  @include media(min-width 1000px) {
    font-size: 4rem;
    letter-spacing: 0.4rem;
  }
}

.h2 {
  font-size: 2rem;
  text-transform: uppercase;

  @include media(min-width 60rem max-width 99.9rem) {
    font-size: 2.4rem;
  }

  @include media(min-width 100rem) {
    font-size: 2.9rem;
  }
}

.h3 {
  font-size: 1.7rem;

  @include media(min-width 60rem) {
    font-size: 1.8rem;
  }
}

.link {
  color: $primary2;
  text-decoration: none;
  text-shadow: 0 0 .4rem rgba(0,0,0,0.4);
  transition: color ease-in-out 200ms;

  &:hover {
    color: $secondary0;
    transition: color ease-in-out 200ms;
  }
}

.hero__logo-svg {
  fill: #59b7a9;
  height: 400px;
  width: 300px;
}

.hero__logo-png {
  filter:invert(0) opacity(0.87);
  height: 60vmin;
  top: 55.2% !important;
}

fieldset {
  border: none;
}

.hidden {
  visibility: hidden;
}

.map {
  border: 0;
  height: 50vh;
  margin: 2vw 0;
  width: 100%;
}

.copyright {
  color: $primary1;
  font-size: 14px;
  font-weight: lighter;
  text-decoration: none;
}

// modifiers
.-centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
}

.-valign {
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  transform: translateY(-50%);
}

.-small {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.-block {
  display: block;
}

.-click {
  color: $secondary0;
  text-shadow: 0px 0px 0px rgba(0,0,0,0.0);
  transition: all ease-in-out 200ms;

  &:hover {
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 200ms;
  }
}

.-padding {
  padding: 20px 40px;
}

.-inline-block {
  display: inline-block;
}

.-button {
  background: $secondary0;
  border-radius: 5px;
  color: $primary3;
  font-variant: small-caps;
  font-weight: 900;
  letter-spacing: 0.4px;
  padding: 12px 8px;
  text-transform: capitalize;
  white-space: nowrap;

  @include media(min-width 500px max-width 899px) {
    padding: 12px 17px;
  }

  @include media(min-width 900px) {
    padding: 12px 17px;
  }

  &:hover {
    color: $primary3;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
    transition: all ease-in-out 200ms;
  }
}

// modal
.iframe {
  border: 0;
  display: block;
  height: 80vh;
  text-decoration: none;
  width: 80vw;
}

.modalDialog {
  background: rgba(0, 0, 0, 0.85);
  bottom: 0;
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transform-style: preserve-3d;
  transition: opacity 300ms ease-in;
  width: 100vw;
  z-index: 900;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background: #ccc;
  background: linear-gradient(rgba(255,255,255,0.7), rgba(190,190,190,0.7));
  border-radius: 5px;
  color: #000;
  left: 50%;
  max-height: 80vh;
  overflow: scroll;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;

  .paragraph {
    padding: 0 25px;
  }

  .image {
    float: left;
    position: initial;
    transform: translateZ(0.25px) scale(0.75) translateX(0%) translateY(0%) rotate(2deg);
    &:last-of-type {
      transform: translateZ(0.25px) scale(0.75) translateX(0%) translateY(0%) rotate(-4deg);
    }
  }
}

.modalClose {
  color: #fff;
  font-size: 30px;
  line-height: 57px;
  padding: 0px 0px 3px 0;
  position: absolute;
  right: 0px;
  text-align: center;
  text-decoration: none;
  top: 0px;
  width: 60px;
}

.close {
  color: $primary2;
  font-size: 20px;
  line-height: 16px;
  margin: 0;
  padding: 14px;
  position: absolute;
  right: 0;
  top: 0;
}

// parallax
.image {
  background: rgba(240, 230, 220, 0.8);
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  height: auto;
  left: 35%;
  max-height: 351px;
  max-width: 293px;
  padding: 10px 10px 40px 10px;
  // position: absolute;
  position: initial;
  float: left;
  top: 50%;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  width: auto;

  &:last-of-type {
    transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
  }
}

.polaroid {
  border-bottom: 24px solid #ffe;
  border-radius: 3px;
  border: 8px solid #eed;
  display: inline-block;
  height: 146px;
  margin-bottom: .5rem;
  margin-right: .5rem;
  transform: translateZ(.25px) scale(.75) translateX(0) translateY(0) rotate(2deg);
  vertical-align: top;
  width: 130px;

  .crop {
    height: 100%;
    overflow: hidden;
    position: relative;

    .img {
      bottom: -100%;
      display: block;
      left: -100%;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      right: -100%;
      top: -100%;
    }
  }
}
