@import '../../dist/bower_components/normalize-css/normalize';
@import '../../dist/bower_components/bourbon/app/assets/stylesheets/bourbon';

// $visual-grid: true;
@import '../../dist/bower_components/neat/app/assets/stylesheets/neat';

// Palette
// Primary color
$primary0: rgba( 40, 40, 40,1);
$primary1: rgba( 90, 90, 90,1);
$primary2: rgba(229,229,229,1);
$primary3: rgba(255,255,255,1);

// Secondary color
$secondary0: rgba( 0,153,255,1);
$secondary1: rgba(233,242,249,1);
$secondary2: rgba(156,196,228,1);

html {
  font-size: 62.5%;
}

body {
  background: $primary3;
  color: $primary0;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  padding-top: 100vh;
  line-height: 1.3;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.4);
  text-transform: uppercase;

  @include media(min-width 600px max-width 999px) {
    font-size: 3rem;
    letter-spacing: 0.3rem;
  }

  @include media(min-width 1000px) {
    font-size: 4rem;
    letter-spacing: 0.4rem;
  }
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;

  @include media(min-width 600px max-width 999px) {
    font-size: 2.4rem;
  }

  @include media(min-width 1000px) {
    font-size: 2.9rem;
  }
}

h3 {
  font-size: 1.7rem;

  @include media(min-width 600px) {
    font-size: 1.8rem;
  }
}

a {
  text-decoration: none;
  color: $primary1;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  transition: color ease-in-out 200ms;

  &:hover {
    color: $secondary0;
    transition: color ease-in-out 200ms;
  }
}

ul {
  // columns: 2;
}

.hero {
  background: linear-gradient(rgba(105,155,255,0.3) 25%, rgba(155,105,255,0.3) 50%), url(/assets/img/hero.jpg) no-repeat 30%/cover;
  background-clip: content-box;
  color: $primary3;
  padding: 40px;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100vw;
  z-index: -1;

  h1,
  h2,
  h3 {
    margin: 4vw 4vw 0;
  }

  h2 {
    margin-top: 0;
    line-height: 2rem;
  }
}

.hero__logo-svg {
  fill: #59b7a9;
  height: 400px;
  width: 300px;
}

.hero__logo-png {
  height: 60vmin;
  filter:invert(0) opacity(0.87);
  top: 55.2% !important;
}

.stickyNav {
  background: rgba( 40, 40, 40,.93);
  bottom: 80px;
  box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.4);
  height: 8.5rem;
  margin-bottom: -8rem;
  position: absolute;
  text-align: center;
  width: 100vw;
  z-index: 900;

  @include media(min-width 870px) {
    height: 8rem;
  }

  .stickyNav__anchor {
    color: $primary3;
    font-weight: bold;
    line-height: 4rem;
    padding: 0 5.7vw 0 0;
    transition: color ease 500ms;
    letter-spacing: -0.3px;

    @include media(min-width 500px max-width 899px) {
      padding: 0 7.4vw 0 0;
      line-height: 4rem;
    }

    @include media(min-width 900px) {
      padding: 0 5.7vw 0 0;
      line-height: 8rem;
    }

    &:hover {
      color: $secondary0;
      transition: color ease-in-out 500ms;
    }

    &.active {
      color: $secondary0;
      transition: color ease-in-out 500ms;
    }
  }

  .stickyNav__anchor:last-child {
    padding: 0;
  }
}

.stickyNavScrolled {
  position: fixed;
  width: 100vw;
  top: 0;
}

main {
  @include outer-container(100%);
  position: relative;
}

section {
  @include span-columns(12);
  background: $primary3;
  position: relative;
  padding: 120px 40px 40px 80px;

  @include media(min-width 500px max-width 899px) {
    padding: 80px;
  }

  @include media(min-width 900px) {
    padding: 140px;
  }

  h1 {
    font-size: 1.2rem;
    font-weight: lighter;
  }
}

fieldset {
  border: none;
}

.page {
  min-height: 100vh
}

.footer {
  background: rgba( 40, 40, 40,.95);
  color: $primary3;
  padding: 80px 0 0 0;
  text-align: center;

  a {
    color: $primary3;
  }
}

.logo {}

.adr {}

.hidden {
  visibility: hidden;
}

.url {}

.email {}

.tel {}

.map {
  border: none;
  margin: 5vw;
  height: 50vw;
  width: 90vw;
}

.copyright {
  font-size: 14px;
  font-weight: lighter;
  color: $primary1;
}

// modifiers
.-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}

.-valign {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

.-small {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.-block {
  display: block;
}

.-click {
  color: $secondary0;
  text-shadow: 0px 0px 0px rgba(0,0,0,0.0);
  transition: all ease-in-out 200ms;

  &:hover {
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 200ms;
  }
}

.-button {
  background: $secondary0;
  color: $primary3;
  border-radius: 5px;
  padding: 12px 8px;
  text-transform: capitalize;
  letter-spacing: 0.4px;
  font-variant: small-caps;
  font-weight: 900;

  @include media(min-width 500px max-width 899px) {
    padding: 12px 17px;
  }

  @include media(min-width 900px) {
    padding: 12px 17px;
  }

  &:hover {
    color: $primary3;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
    transition: all ease-in-out 200ms;
  }
}

// parallax
.parallax {
  clear: both;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  perspective-origin-x: 100%;
}

.parallax__layer {
  background: $primary3;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
}

.parallax__group {
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}

.image-inline {
  width: 100vw;
  display: block;
  margin: 0;
  padding: 0;
}

.-parallax {
  height: 60vmin;
}

// modal
iframe {
  height: 80vh;
  width: 80vw;
}

.iframe {
  display: block;
  text-decoration: none;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 900;
  transform-style: preserve-3d;
  opacity: 0;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88vw;
  padding: 5px 20px 13px;
  border-radius: 10px;
  overflow: scroll;
  max-height: 88vh;
  background: #fff;
  background: linear-gradient(#fff, #999);
}

.modalClose {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}

.modalClose:hover {
  background: #00d9ff;
}

.close {
  color: $primary2;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 14px;
  line-height: 16px;
  font-size: 20px;
}
